.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 20px;
}
.logout{
    height: 5rem;
    width: auto;
    position: absolute;
  top: 0;
  right: 0;
   margin: 10px;
}
  .pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #3b4cca;
  color: white;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #2a3791;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

